%h1#referrals_list_title Referrals
%table#referrals
  %thead
    %tr
      %th First Name
      %th Last Name
      %th= select_tag "status",
            options_for_select(["Status", "Incomplete", "Approved", "Rejected"], @status),
            id: 'select_button',
            class: 'filter',
            :onchange => "filter_by_status(this.value)"
      %th
  %tbody
    - @forms.each do |form|
      %tr
        %td.first_name= form.first_name
        %td.last_name= form.last_name
        %td.status= form.status
        %td.more_info= link_to "View Profile", referral_path(form)
