<% if @document != nil %>
  <%= link_to "Document", @document.url %>
<% end %>
<%= form_tag upload_path(@client), :multipart => true %>
  <div class="field">
    <%= label_tag :case_document %>
    <%= file_field_tag :case_document %>
  </div>
  <div class="actions">
    <%= submit_tag("Submit") %>
  </div>
