.panel.panel-default.panel-form
	.panel-heading
		%h3= @user.full_name
		%h5= @user.email
		- if current_user && current_user.role == "client" && @user.id == current_user.id
			= link_to 'Edit', client_edit_path(@user.id)
		- if current_admin
			.form-profile-button
				= button_to 'Approve', mark_client_status_path(:status => "Approved", :form_id => @form_id), {:method => 'post', :class => 'btn btn-large btn-success'}
			.form-profile-button
				= button_to 'Reject', mark_client_status_path(:status => "Rejected", :form_id => @form_id), {:method => 'post', :class => 'btn btn-large btn-danger'}
			.form-profile-button
				= button_to 'Incomplete', mark_client_status_path(:status => "Incomplete", :form_id => @form_id), {:method => 'post', :class => 'btn btn-large btn-warning'}
	.panel-body
		- @form_hash.each do |key, value|
			.form-info
				%div.form-question
					= key + ":"
				%div.form-response
					- if value.instance_of?(Array)
						= value.join(', ')
					- else
						= value
