<div class="panel panel-default panel-form">
  <div class="panel-heading">
  	<h4> Your Profile Information </h4>
  </div>
	<div class="panel-body">
	  <form method = "put" action=<%=edit_save_path(@user.id)%>>
      First name:<br>
      <input type="text" name="firstname" value=<%=@user.first_name%>>
      <br>
      Last name:<br>
      <input type="text" name="lastname" value=<%=@user.last_name%>>
      <br>
      Email:<br>
      <input type="text" name="email" value=<%=@user.email%>>
      <br>
      Phone:<br>
      <input type="text" name="phone" value=<%=@user.phone%>>
      <br>
      Address:<br>
      <input type="text" name="address" value=<%=@user.address%>>
      <br>
      Skype ID:<br>
      <input type="text" name="skype" value=<%=@user.skype%>>
      <br><br>
      <input type="submit" value="Save">
    </form>
	</div>
</div>