
<div class="panel panel-default panel-form">
  <div class="panel-heading">
  	<h4> Refer Client </h4>
  </div>
	<div class="panel-body">
		<%= form_tag("/referrers/#{@referrer.id}/create_referral", method: :post) do %>
<!-- Section I: Basic Information  -->
			<div class="form-input">
				<%= label_tag("form_response[First Name]", "First Name:") %>
				<%= text_field_tag("form_response[First Name]") %>
			</div>
			<div class="form-input">
				<%= label_tag("form_response[Middle Name(s)]", "Middle Name(s):") %>
				<%= text_field_tag("form_response[Middle Name(s)]") %>
			</div>
			<div class="form-input">
				<%= label_tag("form_response[Surname(s)]", "Surname(s):") %>
				<%= text_field_tag("form_response[Surname(s)]") %>
			</div>
      <div class="form-input">
				<%= label_tag("form_response[Nicknames]", "Nicknames (if applicable):") %>
				<%= text_field_tag("form_response[Nicknames]") %>
			</div>
			<div class="form-input">
				<%= label_tag("form_response[Date of Birth]", "Date of Birth:") %>
				<%= date_field_tag("form_response[Date of Birth]") %>
			</div>
      <div class="form-input">
				<%= label_tag("form_response[Languages Spoken]", "What Languages Do They Speak?:") %>
				<% @client_languages.each do |language| %>
					<div class="check-box-input">
            <%= check_box_tag("form_response[Languages Spoken][]", language) %>
            <%= label_tag("form_response[Languages Spoken][]", language) %>
					</div>
				<% end %>
			</div>
      <div class="form-input">
				<%= label_tag("form_response[Country Of Birth]", "Country Of Birth:") %>
				<%= country_select("form_response", "Country Of Birth", {:prompt => "Please select one:"}) %>
			</div>
      <div class="form-input">
        <%= label_tag("form_response[Is the person referred outside his/her country of nationality?]", "Is the person referred outside his/her country of nationality?:") %>
        <%= select_tag("form_response[Is the person referred outside his/her country of nationality?]", "<option>Yes</option><option>No</option>".html_safe, options={:class => "referred-outside-country", :prompt => "Please select one:"}) %>
      </div>
<!-- If marked no, a message appears stating “Unfortunately, ORAM’s mandate is to protect exceptionally vulnerable refugees who by definition must be outside their country of origin, and as this person is not, we are unable to provide assistance in this case.” -->
      <div class="form-input">
				<%= label_tag("form_response[When Did They Leave Their Country of Origin?]", "When Did They Leave Their Country of Origin?:") %>
				<%= date_field_tag("form_response[When Did They Leave Their Country of Origin?]") %>
			</div>
      <div class="form-input">
        <%= label_tag("form_response[What is Their Legal Status in Turkey?]", "What is Their Legal Status in Turkey?:") %>
        <%= select_tag("form_response[What is Their Legal Status in Turkey?]", options_for_select(@turkey_legal_status), {:prompt => "Please select one:"}) %>
      </div>
      <div class="form-input">
        <%= label_tag("form_response[Does This Person Have a Kimlik?]", "Does This Person Have a Kimlik?:") %>
        <%= select_tag("form_response[Does This Person Have a Kimlik?]", options_for_select(@yes_no_unsure).html_safe, options={:class => "kimlik", :prompt => "Please select one:"}) %>
      </div>
      <!-- If marked Yes, an additional field appears with the following:
            Please Insert the Kimlik Number. If You Do Not Know the Specific Number, Please Leave the Field Blank.  -->
      <div class="form-input">
        <%= label_tag("form_response[Kimlik Number]", "Please Insert the Kimlik Number. If You Do Not Know the Specific Number, Please Leave the Field Blank. (11-digit number field):") %>
        <%= text_field_tag("form_response[Kimlik Number]") %>
      </div>
      <!-- End of additional field -->
      <div class="form-input">
        <%= label_tag("form_response[Street Address]", "Street Address:") %>
        <%= text_field_tag("form_response[Street Address]") %>
      </div>
			<div class="form-input">
				<%= label_tag("form_response[City/Town]", "City/Town:") %>
				<%= text_field_tag("form_response[City/Town]") %>
			</div>
			<div class="form-input">
				<%= label_tag("form_response[Province]", "Province:") %>
				<%= text_field_tag("form_response[Province]") %>
			</div>
			<div class="form-input">
				<%= label_tag("form_response[Country]", "Country:") %>
				<%= text_field_tag("form_response[Country]") %>
			</div>
      <div class="form-input">
        <%= label_tag("form_response[What is their current living situation?]", "What is their current living situation?:") %>
        <%= select_tag("form_response[What is their current living situation?]", options_for_select(@living_situation), options={:prompt => "Please select one:"}) %>
      </div>
      <div class="form-input">
        <%= label_tag("form_response[Has this person applied for refugee status before?]", "Has this person applied for refugee status before?:") %>
        <%= select_tag("form_response[Has this person applied for refugee status before?]", options_for_select(@yes_no_unsure), options={:class => "refugee-status", :prompt => "Please select one:"}) %>
      </div>
      <!-- If Yes, the following additional fields appear:
      Please enter their UNHCR Case Number. If You are not sure, please leave the field blank.
      (10 digit number field in this format ###-##C#####) ( – and C are fixed) -->
      <div class="form-input">
        <%= label_tag("form_response[UNHCR Case Number]", "Please enter their UNHCR Case Number. If You are not sure, please leave the field blank. (10 digit number field in this format ###-##C#####):") %>
        <%= text_field_tag("form_response[UNHCR Case Number]") %>
      </div>
      <div class="form-input">
        <%= label_tag("form_response[Grounds for Refugee Claim?]", "Grounds for Refugee Claim?:") %>
        <%= select_tag("form_response[Grounds for Refugee Claim?]", options_for_select(@refugee_claim), options={:prompt => "Please select one:"}) %>
      </div>
      <!-- End of additional field -->
      <div class="form-input">
        <%= label_tag("form_response[Has this person registered with the DGMM?]", "Has this person registered with the DGMM?:") %>
        <%= select_tag("form_response[Has this person registered with the DGMM?]", options_for_select(@yes_no_unsure), options={:prompt => "Please select one:"}) %>
      </div>
      <div class="form-input">
        <%= label_tag("form_response[Has this person registered with the ASAM?]", "Has this person registered with the ASAM?:") %>
        <%= select_tag("form_response[Has this person registered with the ASAM?]", options_for_select(@yes_no_unsure), options={:prompt => "Please select one:"}) %>
      </div>
<!-- Section II: Personal Information  -->
      <div class="form-input">
        <%= label_tag("form_response[What was their sex at birth?]", "What was their sex at birth?:") %>
        <%= select_tag("form_response[What was their sex at birth?]", options_for_select(@sex), options={:prompt => "Please select one:"}) %>
      </div>
      <div class="form-input">
        <%= label_tag("form_response[Is this person transgender?]", "Is this person transgender?:") %>
        <%= select_tag("form_response[Is this person transgender?]", options_for_select(@yes_no_unsure), options={:prompt => "Please select one:"}) %>
      </div>
      <div class="form-input">
        <%= label_tag("form_response[How would you describe their sexual orientation?]", "How would you describe their sexual orientation?:") %>
        <%= select_tag("form_response[How would you describe their sexual orientation?]", options_for_select(@sexual_orientiation), options={:prompt => "Please select one:"}) %>
      </div>
      <div class="form-input">
        <%= label_tag("form_response[How would you describe their gender identity?]", "How would you describe their gender identity?:") %>
        <%= select_tag("form_response[How would you describe their gender identity?]", options_for_select(@client_gender_identity), options={:prompt => "Please select one:"}) %>
      </div>
      <div class="form-input">
        <%= label_tag("form_response[Does this person wish to transition in the future?]", "Does this person wish to transition in the future?:") %>
        <%= select_tag("form_response[Does this person wish to transition in the future?]", options_for_select(@yes_no_unsure), options={:prompt => "Please select one:"}) %>
      </div>
      <div class="form-input">
        <%= label_tag("form_response[To the best of your knowledge, do they feel ashamed about their sexual orientation/gender identity?]", "To the best of your knowledge, do they feel ashamed about their sexual orientation/gender identity?:") %>
        <%= select_tag("form_response[To the best of your knowledge, do they feel ashamed about their sexual orientation/gender identity?]", options_for_select(@yes_no_unsure), options={:prompt => "Please select one:"}) %>
      </div>
      <div class="form-input">
        <%= label_tag("form_response[Does this person currently have a partner?]", "Does this person currently have a partner?:") %>
        <%= select_tag("form_response[Does this person currently have a partner?]", options_for_select(@client_partner), options={:prompt => "Please select one:"}) %>
      </div>
      <div class="form-input">
        <%= label_tag("form_response[To your knowledge, has this person ever had difficulties in their intimate relationships due to their sexual orientation/gender identity?]", "To your knowledge, has this person ever had difficulties in their intimate relationships due to their sexual orientation/gender identity?:") %>
        <%= select_tag("form_response[To your knowledge, has this person ever had difficulties in their intimate relationships due to their sexual orientation/gender identity?]", options_for_select(@yes_no_unsure), options={:prompt => "Please select one:"}) %>
      </div>
      <div class="form-input">
        <%= label_tag("form_response[Are they open about their sexual orientation/gender identity?]", "Are they open about their sexual orientation/gender identity?:") %>
        <%= select_tag("form_response[Are they open about their sexual orientation/gender identity?]", options_for_select(@yes_no_unsure), options={:prompt => "Please select one:"}) %>
      </div>
      <!-- If marked Yes, an additional field appears with the question: -->
      <div class="form-input">
        <%= label_tag("form_response[Are they open about their sexual orientation/gender identity with]", "Are they open about their sexual orientation/gender identity with:") %>
        <%= select_tag("form_response[Are they open about their sexual orientation/gender identity with]", options_for_select(@client_openness), options={:prompt => "Please select one:"}) %>
      </div>
      <!-- End of additional field -->
      <div class="form-input">
        <%= label_tag("form_response[Does this person use gay social media platforms, e.g. Hornet, Manjam etc.]", "Does this person use gay social media platforms, e.g. Hornet, Manjam etc.:") %>
        <%= select_tag("form_response[Does this person use gay social media platforms, e.g. Hornet, Manjam etc.]", options_for_select(@yes_no_unsure), options={:prompt => "Please select one:"}) %>
      </div>
      <div class="form-input">
        <%= label_tag("form_response[Is this person afraid that people will find out about their sexual orientation/gender identity?]", "Is this person afraid that people will find out about their sexual orientation/gender identity?:") %>
        <%= select_tag("form_response[Is this person afraid that people will find out about their sexual orientation/gender identity?]", options_for_select(@yes_no_unsure), options={:prompt => "Please select one:"}) %>
      </div>
      <div class="form-input">
        <%= label_tag("form_response[Is this person/have they been involved in organizational/community work supporting the LGBTI community (including LGBTI support groups)?]", "Is this person/have they been involved in organizational/community work supporting the LGBTI community (including LGBTI support groups)?:") %>
        <%= select_tag("form_response[Is this person/have they been involved in organizational/community work supporting the LGBTI community (including LGBTI support groups)?]", options_for_select(@yes_no_unsure), options={:prompt => "Please select one:"}) %>
      </div>
      <div class="form-input">
        <%= label_tag("form_response[Is anyone aware of their sexual orientation/gender identity who may want to hurt them?]", "Is anyone aware of their sexual orientation/gender identity who may want to hurt them?:") %>
        <%= select_tag("form_response[Is anyone aware of their sexual orientation/gender identity who may want to hurt them?]", options_for_select(@yes_no_unsure), options={:prompt => "Please select one:"}) %>
      </div>
      <!-- If marked Yes, an additional field appears with the question: -->
      <div class="form-input">
				<%= label_tag("form_response[Who? Choose as many as are relevant.]", "Who? Choose as many as are relevant.:") %>
				<% @client_dangers.each do |d| %>
					<div class="check-box-input">
            <%= check_box_tag("form_response[Who? Choose as many as are relevant.][]", d) %>
            <%= label_tag("form_response[Who? Choose as many as are relevant.][]", d) %>
					</div>
				<% end %>
			</div>
      <!-- End of additional field -->
      <div class="form-input">
        <%= label_tag("form_response[Has this person experienced verbal abuse based on their sexual orientation/gender identity?]", "Has this person experienced verbal abuse based on their sexual orientation/gender identity?:") %>
        <%= select_tag("form_response[Has this person experienced verbal abuse based on their sexual orientation/gender identity?]", options_for_select(@yes_no_unsure), options={:prompt => "Please select one:"}) %>
      </div>
      <!-- If marked Yes, an additional field appears with following the questions: -->
      <div class="form-input">
				<%= label_tag("form_response[From whom? Choose as many as are relevant.]", "From whom? Choose as many as are relevant.:") %>
				<% @client_dangers.each do |d| %>
					<div class="check-box-input">
            <%= check_box_tag("form_response[From whom? Choose as many as are relevant.][]", d) %>
            <%= label_tag("form_response[From whom? Choose as many as are relevant.][]", d) %>
					</div>
				<% end %>
			</div>
      <div class="form-input">
        <%= label_tag("form_response[Was this an isolated incident, or did it occur more than once?]", "Was this an isolated incident, or did it occur more than once?:") %>
        <%= select_tag("form_response[Was this an isolated incident, or did it occur more than once?]", options_for_select(@client_incident), options={:prompt => "Please select one:"}) %>
      </div>
      <div class="form-input">
        <%= label_tag("form_response[Does this person fear further verbal abuse?]", "Does this person fear further verbal abuse?:") %>
        <%= select_tag("form_response[Does this person fear further verbal abuse?]", options_for_select(@yes_no_unsure), options={:prompt => "Please select one:"}) %>
      </div>
      <!-- End of additional field -->
      <div class="form-input">
        <%= label_tag("form_response[Has this person experienced physical violence based on their sexual orientation/gender identity?]", "Has this person experienced physical violence based on their sexual orientation/gender identity?:") %>
        <%= select_tag("form_response[Has this person experienced physical violence based on their sexual orientation/gender identity?]", options_for_select(@yes_no_unsure), options={:prompt => "Please select one:"}) %>
      </div>
      <!-- If marked Yes, an additional field appears with following the questions: -->
      <div class="form-input">
				<%= label_tag("form_response[From whom? Choose as many as are relevant.]", "From whom? Choose as many as are relevant.:") %>
				<% @client_dangers.each do |d| %>
					<div class="check-box-input">
            <%= check_box_tag("form_response[From whom? Choose as many as are relevant.][]", d) %>
            <%= label_tag("form_response[From whom? Choose as many as are relevant.][]", d) %>
					</div>
				<% end %>
			</div>
      <div class="form-input">
        <%= label_tag("form_response[Was this an isolated incident, or did it occur more than once?]", "Was this an isolated incident, or did it occur more than once?:") %>
        <%= select_tag("form_response[Was this an isolated incident, or did it occur more than once?]", options_for_select(@client_incident), options={:prompt => "Please select one:"}) %>
      </div>
      <div class="form-input">
        <%= label_tag("form_response[Does this person fear further physical violence?]", "Does this person fear further physical violence?:") %>
        <%= select_tag("form_response[Does this person fear further physical violence?]", options_for_select(@yes_no_unsure), options={:prompt => "Please select one:"}) %>
      </div>
      <!-- End of additional field -->
      <div class="form-input">
        <%= label_tag("form_response[Has this person experienced any verbal or physical abuse not based on their sexual orientation/gender identity?]", "Has this person experienced any verbal or physical abuse not based on their sexual orientation/gender identity?:") %>
        <%= select_tag("form_response[Has this person experienced any verbal or physical abuse not based on their sexual orientation/gender identity?]", options_for_select(@yes_no_unsure), options={:prompt => "Please select one:"}) %>
      </div>
      <!-- If marked Yes, an additional field appears with following statement: -->
      <div class="form-input">
        <%= label_tag("form_response[Please give a brief overview:]","Please give a brief overview.") %>
        <%= text_area_tag("form_response[Please give a brief overview:]") %>
      </div>
      <!-- End of additional field -->
      <div class="form-input">
        <%= label_tag("form_response[Has this person experienced sexual violence?]", "Has this person experienced sexual violence?:") %>
        <%= select_tag("form_response[Has this person experienced sexual violence?]", options_for_select(@yes_no_unsure), options={:prompt => "Please select one:"}) %>
      </div>
      <!-- If marked Yes, an additional field appears with following the questions: -->
      <div class="form-input">
        <%= label_tag("form_response[From whom? Choose as many as are relevant.]", "From whom? Choose as many as are relevant.:") %>
        <% @client_dangers.each do |d| %>
          <div class="check-box-input">
            <%= check_box_tag("form_response[From whom? Choose as many as are relevant.][]", d) %>
            <%= label_tag("form_response[From whom? Choose as many as are relevant.][]", d) %>
          </div>
        <% end %>
      </div>
      <div class="form-input">
        <%= label_tag("form_response[Was this an isolated incident, or did it occur more than once?]", "Was this an isolated incident, or did it occur more than once?:") %>
        <%= select_tag("form_response[Was this an isolated incident, or did it occur more than once?]", options_for_select(@client_incident), options={:prompt => "Please select one:"}) %>
      </div>
      <div class="form-input">
        <%= label_tag("form_response[Does this person fear further sexual violence?]", "Does this person fear further sexual violence?:") %>
        <%= select_tag("form_response[Does this person fear further sexual violence?]", options_for_select(@yes_no_unsure), options={:prompt => "Please select one:"}) %>
      </div>
      <!-- End of additional field -->
      <div class="form-input">
        <%= label_tag("form_response[Does this person suffer from any form of mental illness?]", "Does this person suffer from any form of mental illness?:") %>
        <%= select_tag("form_response[Does this person suffer from any form of mental illness?]", options_for_select(@yes_no_unsure), options={:prompt => "Please select one:"}) %>
      </div>
      <!-- If marked Yes, an additional field appears with following the questions: -->
      <div class="form-input">
        <%= label_tag("form_response[Which mental illness? Choose as many as are relevant.]", "Which mental illness? Choose as many as are relevant.:") %>
        <% @mental_illness.each do |m| %>
          <div class="check-box-input">
            <%= check_box_tag("form_response[Which mental illness? Choose as many as are relevant.][]", m) %>
            <%= label_tag("form_response[Which mental illness? Choose as many as are relevant.][]", m) %>
          </div>
        <% end %>
      </div>
      <div class="form-input">
        <%= label_tag("form_response[Is this mental illness related to any abuse, physical, verbal or psychological, which this person has previously experienced based on their sexual orientation/gender identity?]", "Is this mental illness related to any abuse, physical, verbal or psychological, which this person has previously experienced based on their sexual orientation/gender identity?:") %>
        <%= select_tag("form_response[Is this mental illness related to any abuse, physical, verbal or psychological, which this person has previously experienced based on their sexual orientation/gender identity?]", options_for_select(@yes_no_unsure), options={:prompt => "Please select one:"}) %>
      </div>
      <!-- End of additional field -->
      <div class="form-input">
        <%= label_tag("form_response[Is it possible that this person has suffered further abuse, whether mental, physical or verbal, that you are unaware of?]", "Is it possible that this person has suffered further abuse, whether mental, physical or verbal, that you are unaware of?:") %>
        <%= select_tag("form_response[Is it possible that this person has suffered further abuse, whether mental, physical or verbal, that you are unaware of?]", options_for_select(@yes_no_unsure), options={:prompt => "Please select one:"}) %>
      </div>
      <div class="form-input">
        <%= label_tag("form_response[Has this person ever been arrested/detained?]", "Has this person ever been arrested/detained?:") %>
        <%= select_tag("form_response[Has this person ever been arrested/detained?]", options_for_select(@yes_no_unsure), options={:prompt => "Please select one:"}) %>
      </div>
      <!-- If marked Yes, an additional field appears with following the questions: -->
      <div class="form-input">
        <%= label_tag("form_response[Was this due to their sexual orientation/gender identity?]", "Was this due to their sexual orientation/gender identity?:") %>
        <%= select_tag("form_response[Was this due to their sexual orientation/gender identity?]", options_for_select(@yes_no_unsure), options={:prompt => "Please select one:"}) %>
      </div>
      <div class="form-input">
        <%= label_tag("form_response[Who was involved in this arrest? Choose as many as are relevant.]", "Who was involved in this arrest? Choose as many as are relevant.:") %>
        <% @arrest.each do |a| %>
          <div class="check-box-input">
            <%= check_box_tag("form_response[Who was involved in this arrest? Choose as many as are relevant.][]", a) %>
            <%= label_tag("form_response[Who was involved in this arrest? Choose as many as are relevant.][]", a) %>
          </div>
        <% end %>
      </div>
      <!-- End of additional field -->
      <div class="form-input">
        <%= label_tag("form_response[Has this person ever had problems with their family due to their sexual orientation/gender identity?]", "Has this person ever had problems with their family due to their sexual orientation/gender identity?:") %>
        <%= select_tag("form_response[Has this person ever had problems with their family due to their sexual orientation/gender identity?]", options_for_select(@yes_no_unsure), options={:prompt => "Please select one:"}) %>
      </div>
      <div class="form-input">
        <%= label_tag("form_response[Is there a threat of abuse or violence from their family based on their sexual orientation/gender identity?]", "Is there a threat of abuse or violence from their family based on their sexual orientation/gender identity?:") %>
        <%= select_tag("form_response[Is there a threat of abuse or violence from their family based on their sexual orientation/gender identity?]", "<option>Yes</option><option>No</option>".html_safe, options={:prompt => "Please select one:"}) %>
      </div>
      <div class="form-input">
        <%= label_tag("form_response[Is this person likely to face persecution in the future?]", "Is this person likely to face persecution in the future?:") %>
        <%= select_tag("form_response[Is this person likely to face persecution in the future?]", "<option>Yes</option><option>No</option><option>Unknown</option>".html_safe, options={:class => "persecution", :prompt => "Please select one:"}) %>
      </div>
      <!-- If marked Yes, an additional field appears with the question: -->
      <div class="form-input">
				<%= label_tag("form_response[From whom? Choose as many as are relevant.]", "From whom? Choose as many as are relevant.:") %>
				<% @client_dangers.each do |d| %>
					<div class="check-box-input">
            <%= check_box_tag("form_response[From whom? Choose as many as are relevant.][]", d) %>
            <%= label_tag("form_response[From whom? Choose as many as are relevant.][]", d) %>
					</div>
				<% end %>
			</div>
      <!-- End of additional field -->
      Do they have any pressing medical concerns that would require their application to be processed on an expedited basis?
      <div class="form-input">
        <%= label_tag("form_response[Do they have any pressing medical concerns that would require their application to be processed on an expedited basis?]", "Do they have any pressing medical concerns that would require their application to be processed on an expedited basis?:") %>
        <%= select_tag("form_response[Do they have any pressing medical concerns that would require their application to be processed on an expedited basis?]", "<option>Yes</option><option>No</option>".html_safe, options={:class => "medical-concern", :prompt => "Please select one:"}) %>
      </div>
      <!-- If marked Yes, an additional field appears with the question: -->
      <div class="form-input">
        <%= label_tag("form_response[Please briefly explain:]","Please briefly explain:") %>
        <%= text_area_tag("form_response[Please briefly explain:]") %>
      </div>
      <!-- End of additional field -->
      <div class="form-input">
        <%= label_tag("form_response[Does this person have documentary evidence to support their refugee claim?]", "Does this person have documentary evidence to support their refugee claim?:") %>
        <%= select_tag("form_response[Does this person have documentary evidence to support their refugee claim?]", "<option>Yes</option><option>No</option><option>Unsure</option>".html_safe, options={:class => "documentary-evidence", :prompt => "Please select one:"}) %>
      </div>
      <!-- If marked Yes, an additional field appears with the question: -->
      <div class="form-input">
				<%= label_tag("form_response[Which documents? Choose as many as are relevant.]", "Which documents? Choose as many as are relevant.:") %>
				<% @documentary_evidence.each do |d| %>
					<div class="check-box-input">
            <%= check_box_tag("form_response[Which documents? Choose as many as are relevant.][]", d) %>
            <%= label_tag("form_response[Which documents? Choose as many as are relevant.][]", d) %>
					</div>
				<% end %>
			</div>
      <!-- If marked Other, another additional field appears stating: -->
      <div class="form-input">
        <%= label_tag("form_response[Please name the type of document:]","Please name the type of document:") %>
        <%= text_area_tag("form_response[Please name the type of document:]") %>
      </div>
      <!-- End of additional field -->
<!-- Section III: Your Relationship with the Person -->
      <div class="form-input">
        <%= label_tag("form_response[Do you know this person personally?]", "Do you know this person personally?:") %>
        <%= select_tag("form_response[Do you know this person personally?]", "<option>Yes</option><option>No</option>".html_safe, options={:class => "personal-relationship-to-client", :prompt => "Please select one:"}) %>
      </div>
      <!-- If marked NO, the following questionnaire is loaded: -->
      <div class="form-input">
        <%= label_tag("form_response[How do you know them?]", "How do you know them?:") %>
        <%= select_tag("form_response[How do you know them?]", options_for_select(@no_questionnaire_relationships), options={:prompt => "Please select one:"}) %>
      </div>
      <div class="form-input">
        <%= label_tag("form_response[Do you and this person have mutual friends or acquaintances?]", "Do you and this person have mutual friends or acquaintances?:") %>
        <%= select_tag("form_response[Do you and this person have mutual friends or acquaintances?]", "<option>Yes</option><option>No</option>".html_safe, options={:prompt => "Please select one:"}) %>
      </div>
      <!-- End of “No” Questionnaire -->

      <!-- If marked YES, the following questionnaire is loaded: -->
      <div class="form-input">
        <%= label_tag("form_response[How would you describe your relationship with this person?]", "How would you describe your relationship with this person?:") %>
        <%= select_tag("form_response[How would you describe your relationship with this person?]", options_for_select(@yes_questionnaire_relationships), options={:prompt => "Please select one:"}) %>
      </div>
      <div class="form-input">
        <%= label_tag("form_response[Did you meet this person in a professional capacity?]", "Did you meet this person in a professional capacity?:") %>
        <%= select_tag("form_response[Did you meet this person in a professional capacity?]", "<option>Yes</option><option>No</option>".html_safe, options={:prompt => "Please select one:"}) %>
      </div>
        <!-- If marked yes, an additional field appears with the question: -->
      <div class="form-input">
        <%= label_tag("form_response[Which organization]", "Which organization:") %>
        <%= select_tag("form_response[Which organization]", options_for_select(@professional_capacity), options={:prompt => "Please select one:"}) %>
      </div>
        <!-- If marked other, an additional field appears -->
      <div class="form-input">
				<%= label_tag("form_response[Other Organization.]", "Please Enter the Name of the Organization:") %>
				<%= text_field_tag("form_response[Other Organization.]") %>
			</div>
        <!-- End of Additional Field -->
      Do you have a personal relationship with this person?
      <div class="form-input">
        <%= label_tag("form_response[Do you have a personal relationship with this person?]", "Do you have a personal relationship with this person?:") %>
        <%= select_tag("form_response[Do you have a personal relationship with this person?]", "<option>Yes</option><option>No</option>".html_safe, options={:class => "yes-personal-relationship", :prompt => "Please select one:"}) %>
      </div>
      <!-- If marked yes, an additional field appears with the question: -->
      How well do you know each other?
      <div class="form-input">
        <%= label_tag("form_response[How well do you know each other?]", "How well do you know each other?:") %>
        <%= select_tag("form_response[How well do you know each other?]", options_for_select(@relationship_level), options={:prompt => "Please select one:"}) %>
      </div>
      <!-- End of “Yes” Questionnaire -->
<!-- Section IV: Additional Information  -->
      <div class="form-input">
        <%= label_tag("form_response[Please provide any additional information you believe will be relevant (Maximum 500 words):]","Please provide any additional information you believe will be relevant (Maximum 500 words):") %>
        <%= text_area_tag("form_response[Please provide any additional information you believe will be relevant (Maximum 500 words):]") %>
      </div>
      <%= submit_tag("Submit") %>
    <% end %>
  </div>
</div>
