.panel.panel-default.panel-form
	.panel-heading
		%h3= @form.first_name + " " + @form.last_name
		-# - if current_user && @form.user_id == current_user.id
		-# 	= link_to 'Edit', client_edit_path(@user.id)
		- if current_admin
			.form-profile-button
				= button_to 'Approve', mark_form_status_path(:status => "Approved"), {:method => 'post', :class => 'btn btn-large btn-success'}
			.form-profile-button
				= button_to 'Reject', mark_form_status_path(:status => "Rejected"), {:method => 'post', :class => 'btn btn-large btn-danger'}
			.form-profile-button
				= button_to 'Incomplete', mark_form_status_path(:status => "Incomplete"), {:method => 'post', :class => 'btn btn-large btn-warning'}
	.panel-body
		- @form_hash.each do |key, value|
			.form-info
				%div.form-question
					= key + ":"
				%div.form-response
					- if value.instance_of?(Array)
						= value.join(', ')
					- else
						= value
