<div class="panel panel-default">
  <div class="panel-heading">
  <h3><%= t "Send Invitation" %></h3>
  </div>
  <div class="panel-body">
    <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
      <%= devise_error_messages! %>

    <% resource.class.invite_key_fields.each do |field| -%>
      <p><%= f.label field %><br />
      <%= f.text_field field %></p>
    <% end -%>

      <p><%= f.label "Account Type" %><br />
      <%= f.collection_select :id, UserRole.all, :id, :capitalize_name, {prompt: 'Select Account Type'} %></p>

      <p><%= f.submit t("devise.invitations.new.submit_button") %></p>
    <% end %>
  </div>
</div>
