<%# app/views/layouts/_header.erb %>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid navbar">
    <%= link_to root_path  do%>
      <img class="oram-logo" src="http://oramrefugee.org/wp-content/uploads/2016/03/Oram-Full-logoWhit-150x150.png"/>
    <% end %>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "header-link" %></li>
        <% else %>
          <li><%= link_to 'Sign in', new_user_session_path, class: "header-link" %></li>
          <li><%= link_to "Admin login portal", new_admin_session_path, class: "header-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="content-links">
  <ul class="nav navbar-nav">
    <li class="header-link content-link"><%= link_to "ORAM Website", "http://oramrefugee.org", class: "hvr-underline-from-left"%> </li>
    <% if current_user && current_user.role == "referrer" %>
      <li class="header-link content-link"><%= link_to "Profile", referrer_path(current_user.id), class: "hvr-underline-from-left"%> </li>
      <li class="header-link content-link"><%= link_to "Referrals", referrals_path(current_user.id), class: "hvr-underline-from-left"%> </li>
      <li class="header-link content-link"><%= link_to "Refer Client", refer_client_path(current_user.id), class: "hvr-underline-from-left"%> </li>
    <% end %>
  </ul>
</div>
